@model IEnumerable<_540GPWorkingBuild.Models.Customer>

@{
    ViewBag.Title = "Customer";
}

<h2>Customer</h2>
<p>Customer/Employee Management - <b>Written by Russ</b></p>
<h3>Requirements</h3>
<ul>
    <li>Create landing page based from mockup</li>
    <li>View, add, delete, and edit customers</li>
    <li>View, add, delete, and edit employees</li>
    <li>Access historical reports based on customer’s purchase history</li>
    <li>Reference SRS/Proposal/Mockups for complete guidelines and functionality</li>
</ul>

<p>
    <input type="button" class="btn btn-info" value="Create New" onclick="location.href='@Url.Action("Create")'" />
</p>

@using (Html.BeginForm())
{
    <h3>Customer Lookup</h3>
    <p>Please lookup a customer by inputing one of the search fields below:</p>
    <div>
        <p>
            <span>
                <input class="searchBox ui-autocomplete" type="search" placeholder="Customer ID" data-autocomplete="@Url.Action("SearchID", "CustID")" />
                <input class="searchBox ui-autocomplete" type="search" placeholder="Phone Number" data-autocomplete="@Url.Action("AutoComplete","PhoneNumSearch")" />
            </span>
        </p>
        <p>
            <Span>
                <input class="searchBox ui-autocomplete" type="search" placeholder="First Name" data-autocomplete="@Url.Action("AutoComplete", "GetCustFirstName")" />
                <input class="searchBox ui-autocomplete" type="search" placeholder="Last Name" data-autocomplete="@Url.Action("AutoComplete","CustLast")" />
            </Span>
        </p>
    </div>
}
    <div id="search">
        <asp:TextBox ID="txtSearchMaster" runat="server"></asp:TextBox>
        <asp:Button ID="btnSearch" runat="server" Text="Search" OnClick="btnSearch_Click" />
    </div>
    <div class="navbar-left" style="margin-top:8px;">
        @using (Html.BeginForm("Index", "Customers", FormMethod.Get))
        {
            <ul class="nav navbar-nav">
                <li>@Html.TextBox("id", ViewBag.CurrentFilter as string)</li>
                <li><input type="submit" value="Customers" /></li>
            </ul>
        }
    </div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("edit", new { id = item.CustomerID})'" />
                <input type="button" class="btn btn-info" value="Details" onclick="location.href='@Url.Action("Details", new { id = item.CustomerID})'" />
                <input type="button" class="btn btn-info" value="Delete" onclick="location.href='@Url.Action("Delete", new { id = item.CustomerID})'" />
            </td>
        </tr>
    }

</table>
