@model _540GPWorkingBuild.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeRole.EmpRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeRole.EmpRole)
        </dd>

    </dl>
</div>
<p>
    <input type="button" class="btn btn-info" value="Edit" onclick="location.href='@Url.Action("Edit", new { id = Model.EmployeeID})'" />
    <input type="button" class="btn btn-info" value="Back to List" onclick="location.href='@Url.Action("Index", new { id = Model.EmployeeID})'" />
</p>
