@model IEnumerable<_540GPWorkingBuild.Models.Sale>
@{
     ViewBag.Title = "TransactionLookup";
}

<h2>Transaction Lookup</h2>

<table class="table">
     <tr>
          <th>
               @Html.DisplayNameFor(model => model.SaleID)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Customer.CustomerID)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.Employee.EmployeeID)
          </th>
          <th>
               @Html.DisplayNameFor(model => model.SaleDate)
          </th>
          <th></th>
     </tr>

     @foreach (var item in Model)
     {
          <tr>
               <td>
                    @Html.DisplayFor(modelItem => item.SaleID)
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerID)
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
               </td>
               <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SaleID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SaleID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SaleID })
               </td>
          </tr>
     }
</table>

