@model _540GPWorkingBuild.Models.MusciToolkitDBEntities
@{
    ViewBag.Title = "Store Reports";
}



<h2>Store Reports</h2>
<p>Please select from one of the following</p>
<hr />

<p>Date: <input type="text" id="datepicker"></p>

<div class="form-group">
    @Html.Label(" ")
    <div class="col-md-10">
        @Html.DropDownList("DDlMonth", new List<SelectListItem>
   {
       new SelectListItem{ Text = "January", Value = "January"},
       new SelectListItem{ Text = "February", Value = "February"},
       new SelectListItem{ Text = "March", Value = "March"},
       new SelectListItem{ Text = "April", Value = "April"},
       new SelectListItem{ Text = "May", Value = "May"},
       new SelectListItem{ Text = "June", Value = "June"},
       new SelectListItem{ Text = "July", Value = "July"},
       new SelectListItem{ Text = "August", Value = "August"},
       new SelectListItem{ Text = "September", Value = "September"},
       new SelectListItem{ Text = "October", Value = "October"},
       new SelectListItem{ Text = "November", Value = "Novemeber"},
       new SelectListItem{ Text = "December", Value = "December"},
       new SelectListItem{ Text = "December", Value = "December"},
   }, "Select a Month")
    </div>
</div>

<div class="form-group">
    @Html.Label(" ")
    <div class="col-md-10">
        @Html.DropDownList("Quarter", new List<SelectListItem>
   {
       new SelectListItem{ Text = "Q1", Value = "Q1"},
       new SelectListItem{ Text = "Q2", Value = "Q2"},
       new SelectListItem{ Text = "Q3", Value = "Q3"},
       new SelectListItem{ Text = "Q4", Value = "Q4"},
   }, "Select a Quarter")
    </div>
</div>

<div class="form-group">
    @Html.Label(" ")
    <div class="col-md-10">
        @Html.DropDownList("Year", new List<SelectListItem>
   {
       new SelectListItem{ Text = "Fiscal '19", Value = "FY19"},

   }, "Select a Year")
    </div>
</div>

<form method="POST" action="ReturnReport">

    <input value="Submit" type="Submit" />

</form>
